{% extends 'main.html' %}
{% load static %}
{% block content %}
  <!-- blog section -->
<!---->
  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Latest Blog
        </h2>
        <p>
        </p>
      </div>
    </div>
{% if blog %}
    {% for blog in blog %}
    <div class="blog_container">
      <div class="layout_padding2-top">
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="date-box">
                  <h6>
                    {{blog.date}}
                  </h6>
                </div>
                <div class="img-box">
                  <img src="{% static blog.image %}" alt="{{blog.title}}">
                </div>
                <div class="detail-box">
                  <h5>
                    {{blog.title}}
                  </h5>
                  <p>
                    {{blog.body}} </p>
                </div>
              </div>
            </div>
          </div>
                {% endfor %}
                {% endif %}
{% endblock %}
